body{
    background-color: plum;
    font-style: italic;
  }
  .main{
    width: 80%;
    margin: 20px auto;
    border: 1px solid chocolate;
    padding: 20px;
    background-color: palevioletred;
    border-radius: 10px;
  }
  
  h2{
    color: burlywood;
  }
  
  .encabezado{
    background-color: plum;
    color: mediumvioletred;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    box-shadow: 0px 10px 10px black ;
    border-radius: 5px;
    display: flex;
    justify-content: center;
  }
  ul{
    list-style: none;
  }
  figure{
    width: 150px;
    height: 120px;
    margin: 0;
  }
  img{
    width: inherit;
    height: inherit;
  }
  a{
    text-decoration: none;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  h3{
    color: purple;
  }
